<h1>Home About  Services Contact Us</h1>
<p>Welcome to our Website <br>1.  Dont't worry if it doesn't work right.If everything did, you'd be out of a job. <br>
        
    2.  Don't comment bad code - rewrite it. - Brian Kernighan <br>
    
    
    3.  A programming language is for thinking about programs, not for expressing programs you've already thought of. It should be a pencil, not a pen. - Paul Graham <br>
    
    
    4.  Sometimes it pays to stay in bed on Monday, rather than spending the rest of the week debugging Monday's code. - Dan Salomon <br>
    
    
    5.  It´s better to wait for a productive programmer to become available than it is to wait for the first available programmer to become productive. - Steve McConnell <br>
    
    
    6.  One of my most productive days was throwing away 1000 lines of code. Ken Thompson <br>
    
    
    7.  Without requirements or design, programming is the art of adding bugs to an empty text file. <br>
    
    
    8.  One main'scrappy software is another man's full time job. <br>
    
    
    9.  Walking on water and developing software from a specification are easy if both are frozen.<br>
    
    
    10.  Debugging is twice as hard as writing the code in the first place.Therfore, if you write the code as cleverly as possible, you are, by definition, not smart enough to debug it. - Rajanand <br>
    
 </p>